@import "globals.css";
.container {
  padding-top: var(--spacingLarge);
}

.navigation {
  & .active {
    background-color: white;
    border-top-left-radius: rem(4);
    border-top-right-radius: rem(4);
    transition-duration: 0.1s;
  }
  & .label {
    color: gray(20%);
    font-size: rem(18);
  }
}

.tab {
  composes: globalContainer withPaddings withShadow white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: rem(4);
  border-bottom-right-radius: rem(4);
  &:focus {
    outline: 0;
  }
}

.paymentThankYou {
  composes: globalContainer withPaddings withShadow white;
  text-align: center;
  color: green;
}

@media print {
  .container {
    display: none !important;
    page-break-after: avoid;
  }
}
