@import "../../styles/app.css";

.container{
  composes: globalContainer;
  padding: 0;
  background-color: transparent;
}

.pixelFade{
  position: relative;
  z-index: 2;
  background-image: url('assets/images/pixels-fade.svg');
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 10%;
  height: rem(50);
}

.nav{
  position: relative;
  z-index: 2;
  background-color: gray(30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  & .navItems{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: white;

    & .navItem{
      color: white;
      text-decoration: none;
      padding: 0 10px;
      line-height: 30px;
    }
  }
}

.icons{
  display: flex;
  margin-top: rem(60);
  & .icon{
    display: block;
    width: rem(35);
    height: rem(35);
    margin-right: rem(20);
    opacity: 0.5;
    &:last-child{
      margin-right: 0;
    }
  }
  & .github{
    background-image: url('assets/icons/brands/github.svg');
  }
  & .linkedin{
    background-image: url('assets/icons/brands/linkedin-in.svg');
  }
  & .angellist{
    background-image: url('assets/icons/brands/angellist.svg');
  }
}

.credit{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  color: white;

  & .slogan{
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
  }

  & .signature{
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
  }
}
