@import "variables.css";
.container {
  display: flex;
  justify-content: center;
  z-index: 9;
  opacity: 0;
  transition: all 0.2s;
  bottom: 0;
  &.showButton {
    opacity: 1;
  }
  @media (--large-and-up) {
    position: fixed;
    justify-content: flex-end;
    bottom: rem(-20);
    right: rem(10);
    &.showButton {
      opacity: 1;
      bottom: rem(10);
    }
  }
}

.modal {
  height: rem(600);
  width: rem(1000);
  & section {
    padding: 0;
  }
}

.ctaButton {
  color: black;
  font-size: rem(14);
  padding-left: rem(12);
  padding-right: rem(12);
  height: rem(50);
  width: 100%;
  border-radius: 0;
  transition: all 0.2s;
  background: white;
  &:hover {
    background-color: white !important;
  }
  @media (--large-and-up) {
    border-radius: rem(4);
    width: auto;
    height: rem(35);
    background-color: color(white alpha(20%));
    &:hover {
      background-color: color(white alpha(100%));
    }
  }
  @media print {
    display: none !important;
  }
}
