@import "globals.css";
.headroom {
  & > div{
    will-change: transform;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(25) rem(30);
  transition: background-color 0.3s;
  box-sizing: border-box;
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 rem(2) rem(20) 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  &.navStatic {
    background-color: transparent;
    &:after{
      opacity: 0;
    }
  }
  &.navDefault {
    background-color: color(white alpha(90%));
    &:after{
      opacity: 1;
    }
    & .link,
    & .logo {
      opacity: 0.8;
    }
    & .link {
      color: black;      
      &:before {
        background: linear-gradient(90deg, color(black alpha(0%)), color(black alpha(100%)), color(black alpha(0%)));
      }
    }
    & svg g{
      fill: black;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  & li {
    display: none;
    @media (--medium-and-up) {
      display: inline-block;
      margin-left: rem(45);
      &:first-child {
        margin-left: 0;
      }
    }
    @media (--large-and-up) {
      margin-left: rem(70);
    }
  }
}

.logo {
  & svg {
    height: rem(25);
    width: rem(25);
    & g {
      fill: white;
    }
  }
  &:hover {
    opacity: 1;
  }
}

.link {
  position: relative;
  color: white;
  text-decoration: none;
  font-family: var(--primaryFont);
  font-size: rem(16);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: rem(5);
  @media (--medium-and-up) {
    text-transform: uppercase;
    font-size: rem(18);
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, color(white alpha(0%)), color(white alpha(100%)), color(white alpha(0%)));
    height: rem(3);
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  &:hover:not(.linkActive) {
    opacity: 0.7;
  }
}

.link,
.logo {
  opacity: 0.2;
  transition: opacity 0.2s;
  pointer-events: auto;
}

.linkActive {
  opacity: 1;
  &:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.dark {
  &.navDefault {
    background-color: rgba(255, 255, 255, 0.8);
  }
  & .link {
    color: black;
    &:before {
      background: linear-gradient(90deg, color(black alpha(0%)), color(black alpha(100%)), color(black alpha(0%)));
    }
  }
  & .logo g {
    fill: black;
  }
}

@media print {
  .header {
    display: none !important;
    page-break-after: avoid;
  }
}
