@import "globals.css";
.container {
  composes: globalContainer withMarginBottom;
}

.header {
  composes: globalHeader;
  color: var(--blue);
}

.title {
  composes: globalTitle;
}

.body {
  display: flex;
  & .hero {
    display: flex;
    padding: rem(45);
    width: 50%;
    background: linear-gradient(to bottom right, var(--blue), color(var(--blue) shade(60%)));
  }
  & .heroHeader {
    align-self: flex-start;
    position: relative;
    font-size: rem(48);
    line-height: rem(58);
    font-weight: bold;
    color: white;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: rem(-40);
      width: rem(80);
      height: rem(5);
      background-color: white;
    }
  }
  & .carousel {
    width: 50%;
    min-height: rem(400);
    & .slide {
      height: rem(200);
      & .slideLabel {
        background-color: var(--blue);
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}
