@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer;
  padding: rem(30) 0;
}

.subNav {
  composes: globalContainer withPaddings white;
}

.marquee{
  background: linear-gradient(to bottom right, #7100FF, #13B3FF);  
}
