@import "globals.css";
:root {
  & label {
    display: block;
    text-transform: uppercase;
    letter-spacing: rem(2);
    color: gray(70%);
    margin-bottom: rem(10);
  }
}

.wrapper {
  composes: globalWrapper;
}

.body {
  composes: globalContainer withShadow;
}

.container {
  composes: globalContainer withPaddings white;
}

.id {
  text-align: center;
  &, & label {
    font-size: rem(20);    
  }
  & label {
    display: inline-block;
    margin-right: rem(5);
  }
  @media (--medium-and-up) {
    text-align: right;
  }
  @media print {
    text-align: center;
  }
}

.status,
.note {
  padding: rem(20);
  text-align: center;
}

.status {
  background-color: gray(20%);
  color: white;
}

.note {
  background-color: var(--mystic);
}

.summary {
  display: flex;
  justify-content: space-between;
}

.notes,
.finePrint {
  column-count: 1;
  column-gap: 0;
  @media (--medium-and-up) {
    column-count: 2;
    column-gap: rem(35);
  }
  & .col {
    break-inside: avoid-column;
    margin: 0 0 rem(35);
    width: 100%;
    &:first-child{
      break-inside: auto;
    }
  }
  & .description {
    font-style: italic;
    color: gray(20%);
    white-space: pre-line;
  }
}

.notes,
.finePrint {
  composes: globalContainer withPaddings;
  font-size: rem(14);
  & label {
    margin-bottom: rem(4);
    color: gray(40%);
  }
  & p {
    margin-top: 0;
  }
  & .description {}
}

.notes{
  background-color: color(yellow alpha(10%));
}

.fullCol{
  column-count: 1;
  & .col{
    margin: 0;
    @media (--medium-and-up) {
      column-count: 2;
    }
  }
}

.finePrint{
  background-color: color(yellow alpha(6%));
  border-top: 1px solid gray(40%);
}

@media print {
  .status,
  .note {
    display: none !important;
  }
}
