@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer withShadow;
  margin-bottom: var(--spacingLarge);
}

.iframe{
  border: 0;
  overflow-y: auto;
}
