.page-home{
  .homepage-hero{
    height: rem-calc(530);
    width: 100%;
    background-color: $grey40;
    background-image: url('/images/homepage_hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    margin-bottom: rem-calc(30);
  }

  // products grid
  .products-grid{
    @include flex-grid-row();

    .product-item{
      @include flex-grid-column(3, 15);
    }
  }
}
