$nav-height: 90;
$footer-height: 120;

body{
}

#main-container{
  min-height: calc(100vh - #{rem-calc($nav-height + $footer-height)});
}

.container{
  max-width: rem-calc(1000);
  margin: 0 auto;
}

.loader{
  @include flex();
  @include flex-align(center, middle);
  min-height: calc(100vh - #{rem-calc($nav-height + $footer-height)});
  color: $primary-color;
}

#site-footer{
  margin-top: rem-calc(60);
  padding: rem-calc(60 0);
  &, a{
    color: $grey60;    
  }

  .footer-nav{
    padding: 0;
    margin-bottom: rem-calc(30);

    .footer-nav-headline{
      text-transform: uppercase;
      border-bottom: 1px solid $grey60;
      padding-bottom: rem-calc(8);
      margin-bottom: rem-calc(20);
    }
  }

  .footer-copyright{
    text-align: center;
  }

  .footer-payment{
    text-align: center;
    margin-top: rem-calc(30);
    font-size: rem-calc(20);
    li{
      display: inline-block;
      margin-right: rem-calc(30);
    }
  }
}
