#site-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: rem-calc(15 30);

  a{
    color: #cccccc;
  }


  #site-logo{
    flex-grow: 1;
  }

  #site-nav{
    text-align: right;
    align-self: center;
    flex-grow: 1;

    .site-nav-item{
      display: inline-block;
      text-transform: uppercase;
      margin-left: rem-calc(30);
    }
  }
}
