:global{
  & .fade-left-enter,
  & .fade-left-exit {
    transition-timing-function: ease-in-out;
    transition-property: all;
  }

  & .fade-left-enter {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
    transition-property: all;
  }

  & .fade-left-enter-active {
    transition-duration: 0.5s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  & .fade-left-exit {
    transition-duration: 0.5ms;
    opacity: 1;
  }

  & .fade-left-exit-active {
    opacity: 0;
  }
}


:global{
  & .fade-right-enter,
  & .fade-right-exit {
    transition-timing-function: ease-in-out;
    transition-property: all;
  }

  & .fade-right-enter {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
    transition-property: all;
  }

  & .fade-right-enter-active {
    transition-duration: 300ms;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  & .fade-right-exit {
    transition-duration: 300ms;
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }

  & .fade-right-exit-active {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
}
