:global {
  & body{
    margin: 0;
    background: #f3f3f3;
  }

  & .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container{
  align-self: center;
  width: 900px;
  max-width: 100%;
  padding: 30px;
  background-color: white;
}

.loader{
  display: flex;
  color: black;
}
