@import "variables.css";

:global {
  & body{
    margin: 0;
    background: #f3f3f3;
    background: linear-gradient(to bottom, gray(98%), gray(50%));
  }
}

.globalContainer{
  align-self: center;
  width: rem(900);
  max-width: 100%;
  &.withMarginBottom{
    margin-bottom: rem(100);
  }
  &.withPaddings{
    padding: rem(40) rem(30);
  }
  &.white{
    background-color: white;
  }
  &.center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.globalWrapper{
  display: flex;
  justify-content: center;
  padding: rem(40);
  width: 100%;
  margin-bottom: rem(40);
  &.withMarginBottom{
    margin-bottom: rem(100);
  }
}
