@import "variables.css";

/* Section Global Styles */
.globalHeader{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--purple) !default;
  margin-bottom: rem(15);
  & .globalTitle{
    text-transform: uppercase;
    margin: rem(10) 0;
    color: inherit;
    font-size: rem(24);
    line-height: rem(24);
    font-weight: 600;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    color: inherit;
    height: rem(4);
    width: 100%;
    background: linear-gradient(90deg, currentColor 20%, color(white alpha(0%)));
  }
}


.globalBox{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray(90%);
  padding: rem(20);
  height: rem(180);
  &.transparent{
    background-color: transparent;
  }
  & svg{
    height: rem(80);
  }
}  

.globalBoxLabel{
  background-color: gray(98%);  
  text-align: center;
  padding: rem(20);
  &.transparent{
    background-color: transparent;
  }  
}
