:root {
  --purple: #451989;
  --lavender: #9442EE;
  --blue: #001C9B;
  --curious-blue: #3D89D4;
  --sky-blue: #47ABF7;
  --turquoise: #35B8AC;
  --orange: #FFAA09;
}

:root {
  --boxShadow: {
    box-shadow: rem(3) rem(3) rem(10) rem(1) gray(70%);
  };  
}
