:root {
  --footer-triangle: {
    content: '';
    position: absolute;
    height: inherit;
    width: 50%;
    top: rem(-100);
    border-bottom-width: rem(100);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  background: url('/images/landing-placeholder-dark.jpg') center center no-repeat;
  text-align: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.videoPlayer{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
}

.footer,
.preFooter{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  background-color: white;
  &:before,
  &:after{
    @apply --footer-triangle;
    border-bottom-color: white;    
  }
  &:before{
    left: 0;
    border-left-width: 0;
    border-right-width: 50vw;
  }
  &:after{
    right: 0;
    border-left-width: 50vw;
    border-right-width: rem(0);
  }
}

.preFooter{
  bottom: rem(25);
  background-color: gray(90%);
  &:before,
  &:after{
    border-bottom-color: gray(90%);
  }  
}
