@import "../../../../styles/app.css";

.wrapper{
  composes: globalWrapper withPadding;
  background-color: black;
  position: relative;
  margin-top: rem(40);
  margin-bottom: rem(100);
}

.parallaxBg{
  composes: globalBgImage;
  opacity: 0.25;
  overflow: hidden;
}

.container{
  composes: globalContainer;
}

.header{
  composes: globalHeader;
  color: var(--purple);
}

.title{
  composes: globalTitle;
}

.box{
  composes: globalBox;
}
