@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer withShadow withPaddings white;
}

.marquee{
  background: linear-gradient(to bottom right, color(var(--orange) hue(25%)), color(var(--orange) hue(35%)));
}
