:root {
  --globalBgImage: {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  --nobr: {
    white-space: nowrap;
  }

  --boxShadowSubtle: {
    box-shadow: rem(2) rem(2) rem(3) rem(1) color(black alpha(40%));
    @media print {
      box-shadow: none;
    }
  }

  --boxShadow: {
    box-shadow: rem(3) rem(3) rem(10) rem(4) gray(40%);
    @media print {
      box-shadow: none;
    }
  }

  --boxShadowLight: {
    box-shadow: rem(3) rem(3) rem(10) rem(4) gray(80%);
    @media print {
      box-shadow: none;
    }
  }

  --tag: {
    font-size: rem(12);
    border-radius: rem(5);
    background-color: color(gray(20%) alpha(50%));
    padding: rem(2) rem(6);
  }  
  
  --visibilityFade: {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0s;
    &.show{
      opacity: 1;
    }
  }
}
