@import "variables.css";
:global {
  & body {
    margin: 0;
    scroll-behavior: smooth;
    background: gray(95%);
    text-rendering: optimizeSpeed;
    touch-action: manipulation;
  }
  & div {
    /*box-sizing: border-box;*/
  }
}

.globalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &.withPadding {
    padding: rem(60);
  }
  &.subpage {
    margin-top: rem(60);
    @media (--medium-and-up) {
      margin-top: rem(200);      
    }
  }
}

.globalContainer {
  align-self: center;
  width: rem(900);
  max-width: 100%;
  &.withMarginBottom {
    margin-bottom: rem(100);
  }
  &.withPaddings {
    padding: rem(40) rem(30);
  }
  &.white {
    background-color: white;
  }
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.withShadow {
    @apply --boxShadow;
    @media (--medium-and-up) {
      max-width: 100%;
    }
  }
}
