.wrapper {
  position: relative;
}

.slider {}

.content {
  font-size: rem(16);
  margin-bottom: rem(6);
}


/* .slideCta {
  border: 1px solid white;
  font-size: rem(10);
  line-height: rem(10);
  border-radius: rem(5);
  color: white;
  padding: rem(2) rem(4);
  text-transform: uppercase;
} */

.slideLanding {
  & .title {
    background: linear-gradient(130deg, #6446C2, #3E88D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .bgOverlay {
    width: 100%;
    height: 100%;
  }
}

.slideBgOverlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  & svg {
    padding-top: 20%;
    width: 70%;
    height: 70%;
  }
}

.slideEcommerce {
  background-image: linear-gradient(to bottom right, #839D3A 50%, #557522);
  & .title {
    color: white;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    opacity: 0.2;
  }
}

.slideWebApps {
  background-image: linear-gradient(to bottom right, gray(2%), gray(10%));
  & .title {
    background: linear-gradient(130deg, #6446C2, #529CF1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    & svg path {
      fill: black;
    }
  }
}

.slideBrandSites {
  background-image: linear-gradient(to bottom right, #FFA008, #FF7100);
  & .title {
    color: white;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    opacity: 0.2;
  }
}
