.wrapper {
  position: relative;
}

.slider {}

.content {
  font-size: rem(16);
  margin-bottom: rem(6);
}


/* .slideCta {
  border: 1px solid white;
  font-size: rem(10);
  line-height: rem(10);
  border-radius: rem(5);
  color: white;
  padding: rem(2) rem(4);
  text-transform: uppercase;
} */

.slideLanding {
  background-image: url('/images/mobile-placeholder.png');
  & .title {
    background: linear-gradient(130deg, #6446C2, #3E88D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .bgOverlay {
    width: 100%;
    height: 100%;
  }
}

.slideEcommerce {
  background-image: linear-gradient(to bottom right, #839D3A 50%, #557522);
  & .title {
    color: white;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 70%;
    opacity: 0.2;
    & svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.slideWebApps {
  background-image: linear-gradient(to bottom right, gray(2%), gray(10%));
  & .title {
    background: linear-gradient(130deg, #6446C2, #529CF1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    position: absolute;
    left: 0;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    & svg {
      position: relative;
      top: 50%;
      transform: translateY(-20%);
      z-index: 2;
      max-width: 70%;
      max-height: 70%;
      & path {
        fill: black;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/code-bg-small.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.slideBrandSites {
  background-image: linear-gradient(to bottom right, #FFA008, #FF7100);
  & .title {
    color: white;
  }
  & .content {
    color: white;
  }
  & .slideBgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.2;
    & svg {
      position: relative;
      top: 50%;
      transform: translateY(-20%);
      max-width: 70%;
      max-height: 70%;
    }
  }
}
