@import "../../../../styles/app.css";

.wrapper{
  composes: globalWrapper;
  margin-bottom: rem(100);
}

.body{
  composes: globalContainer withShadow;
}

.container{
  composes: globalContainer withPaddings white;
}

label{
  text-transform: uppercase;
  letter-spacing: rem(2);
  color: gray(70%);
  margin-bottom: rem(12);
}

.id{
  font-size: rem(20);
  text-align: right;
  margin-bottom: rem(5);
  & label{
    margin-right: rem(5);
  }
}

.status,
.note{
  padding: rem(20);
  text-align: center;
}

.status{
  background-color: gray(20%);
  color: white;
}

.note{
  background-color: var(--mystic);
}

.footer{
  composes: globalContainer withPaddings white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  & .col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(50% - 20px);
  }

  & .description{
    width: rem(400);
    font-style: italic;
    color: gray(20%);
    white-space: pre-line;
  }
}
