@import 'variables';
.videoWrapper {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: scale(0.4);
  background-color: color(black alpha(74%));
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  & .close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(30);
    width: rem(30);
    background-color: gray(40%);
    border-radius: 50%;
    position: absolute;
    top: calc(15% - rem(15));
    right: calc(15% - rem(15));
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: gray(60%);
    }
    & svg {
      width: rem(18);
      height: rem(18);
    }
  }
  & span {
    width: 70%;
    height: 70%;
  }
  & .player {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}

.ctas {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: rem(200);
  bottom: 0;
  opacity: 1;
  transition: all 0.2s;
}

.watchVideo {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  cursor: pointer;
  & .icon {
    position: relative;
    width: rem(90);
    height: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: gray(95%);
    z-index: 2;
    transition: all 0.2s;
    &:hover {
      transform: translateY(rem(-6));
      &:after {
        box-shadow: rem(1) rem(2) rem(20) rem(5) black;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      border-radius: inherit;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: -15px;
      bottom: -15px;
      right: -15px;
      left: -15px;
      background-image: linear-gradient(to bottom right, #6446C2, #3E88D4);
      border-radius: inherit;
      box-shadow: rem(1) rem(2) rem(10) rem(5) gray(10%);
      transition: all 0.2s;
    }
    & svg {
      position: relative;
      z-index: 2;
      width: rem(40);
      margin-left: rem(8);
      & path {
        fill: #6446C2;
      }
    }
  }
  & .label {
    font-size: rem(30);
    line-height: rem(30);
    font-weight: 800;
    margin-top: rem(35);
    text-transform: uppercase;
    background: linear-gradient(130deg, #6446C2, #3E88D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.profileImage {
  background: url('/images/julian-blackshirt.png') 0 0 no-repeat;
  background-size: contain;
  width: rem(480);
  height: rem(400);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(45);
  z-index: 2;
}

.isPlaying {
  & .videoWrapper {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
    pointer-events: auto;
    & .player {
      pointer-events: auto;
    }
  }
  & .footer,
  & .ctas {
    transform: translateY(rem(50));
    opacity: 0 !important;
  }
}
