@import "globals.css";
.container {
  composes: globalContainer withMarginBottom;
  padding-top: rem(50);
}

.header {
  composes: globalHeader;
  color: var(--blue);
}

.title {
  composes: globalTitle;
}

.body {
  min-height: rem(400);
  display: flex;
  @apply --boxShadow;
  & .hero {
    display: flex;
    padding: rem(45);
    width: 45%;
    background: linear-gradient(to bottom right, var(--blue), color(var(--blue) shade(60%)));
  }
  & .heroHeader {
    align-self: flex-start;
    position: relative;
    font-size: rem(40);
    line-height: rem(48);
    font-weight: bold;
    color: white;
    transition: all 0.2s;
    & span{
      opacity: 0.8;
    }
    & .connectCta{
      opacity: 0.8;
      transition: all 0.2s;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: rem(-40);
      width: rem(80);
      height: rem(5);
      opacity: 0.8;
      background-color: white;
    }
  }
  & .carousel {
    width: 55%;
    & .slide {
      height: rem(200);
      & .slideLabel {
        background-color: var(--blue);
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }
    & ul {
      display: flex !important;
      flex-direction: column !important;
      top: auto !important;
      padding-right: rem(10) !important;
      & button {
        line-height: rem(10) !important;
      }
    }
  }
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  overflow: hidden;
  & svg {
    width: 80%;
    height: 80%;
  }
}

.slide.billing {
  background: radial-gradient(circle at center, color(green alpha(25%)) 20%, color(green alpha(1%)) 40%);
}

.slide.socialmedia {
  background: radial-gradient(circle at center, color(red alpha(15%)) 20%, color(red alpha(1%)) 40%);
}

.slide.api {
  background: radial-gradient(circle at center, color(orange alpha(15%)) 20%, color(orange alpha(1%)) 40%);
}

.slide.email {
  background: radial-gradient(circle at center, color(blue alpha(15%)) 20%, color(blue alpha(1%)) 40%);
}

.slide.tests {
  background: radial-gradient(circle at center, color(blue alpha(15%)) 20%, color(blue alpha(1%)) 40%);
}

.slide.scheduling {
  background: radial-gradient(circle at center, color(blue alpha(15%)) 20%, color(blue alpha(1%)) 40%);
}

.slide.workflow {
  background: radial-gradient(circle at center, color(blue alpha(15%)) 20%, color(blue alpha(1%)) 40%);
}
