@import "globals.css";
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  color: white;
  transform: skewY(-4deg);
  transform-origin: top left;  
  z-index: -1;
}

.marquee{
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  height: rem(320);
  & .header {
    font-size: rem(220);
    line-height: rem(130);
    white-space: nowrap;
  }  
}

.blocks{
  display: block;
  position: relative;
  top: 0;
  height: 100%;
  &:before,
  &:after{
    content: '';
    display: block;
    height: inherit;
    position: absolute;
    width: rem(400);
    height: rem(100);
  }

  &:before{
    bottom: rem(-10);
    left: 0;
    background-color: color(black alpha(10%));  
  }
  &:after{
    top: rem(-10);
    right: 0;
    background-color: color(black alpha(10%));  
  }

  @media (--medium-and-down) {
    display: none;
  }    
}

.blocks2{
  position: relative;
  width: 100%;
  &:before{
    content: '';
    display: block;
    position: absolute;
    height: rem(40);
    background-color: color(black alpha(10%));
    background: linear-gradient(to right, color(black alpha(10%)), transparent);
    top: rem(-40);
    left: 0;
    width: 20%;
  }
}
