@import "../../styles/variables.css";

.marquee{
  display: flex;
  width: 100%;
  height: rem(300);
  background-color: white;
  color: white;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: rem(-80);
}

.header{
  font-size: rem(220);
  line-height: rem(130);
}

.purple-blue{
  background: linear-gradient(to bottom right, var(--lavender), var(--sky-blue));
}

.orange{
  background: linear-gradient(to bottom right, color(var(--orange) hue(30%)), var(--orange));
}

.purple{
  background: linear-gradient(to bottom right, #712DBC 40%, #3892D7);
}

.blue{
  background: linear-gradient(to bottom right, color(var(--blue) shade(50%)), var(--blue));
}

.turquoise{
  background: linear-gradient(to bottom right, color(var(--turquoise) shade(50%)), var(--turquoise));
}

.black{
  background: linear-gradient(to bottom right, gray(10%), black);
}
