@import "globals.css";
.quote {
  padding: rem(30);
}

.navBlocks {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.frontEnd {
  & svg path {
    fill: white;
  }
  & h2 {
    background: linear-gradient(to bottom right, color(#82C745 shade(40%)), color(#82C745 shade(5%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

.ux {
  & svg path {
    fill: white;
  }
  & h2 {
    background: linear-gradient(to bottom right, color(var(--orange) hue(25%)), color(var(--orange) hue(35%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

.fullStack {
  & svg path {
    fill: white;
  }
  & h2 {
    color: black;
  }
}

.automation {
  & svg path {
    fill: white;
  }
  & h2 {
    background: linear-gradient(to bottom right, color(var(--blue) shade(20%)), #11B5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
