html(xmlns='http://www.w3.org/1999/xhtml', xmlns:ipp='')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    title QBO Secrets
  body
    div Realm ID: #{realmId}
    div Access Token: #{accessToken}
    div Access Secret: #{accessSecret}
