.item {
  cursor: pointer;
  padding: rem(14) rem(10);
  padding-left: 0;
  border-bottom: 1px solid gray(70%, 50%);
  transition: padding-left 0.2s;
  &:last-child {
    border-bottom: none;
  }
}

.active {
  background-color: gray(95%);
  padding-left: rem(10);
  & .title {
    margin-bottom: rem(8);
    opacity: 0.6;
  }
  & .title:after {
    transform: rotate(45deg);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 0;
  transition: all 0.2s;
  &:after {
    content: '+';
    font-weight: bold;
    transition: all 0.2s;
    font-size: rem(20);
  }
}
