@import "globals.css";

.twoCols{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media (--medium-and-up) {
    flex-direction: row;
    margin-top: rem(20);
  }
}
