.item {
  display: block;
  cursor: pointer;
  padding: rem(14) 0;
  border-bottom: 1px solid gray(70%, 50%);
  min-width: 100%;
  transition: all .2s;
  color: gray(10%);
  &:last-child {
    border-bottom: none;
  }
}

.active {
  background-color: color(white alpha(35%));
  margin: 0 rem(-15);
  padding: rem(14) rem(15);
  min-width: calc(100% + rem(30));
  & .title {
    margin-bottom: rem(8);
    color: gray(20%);
  }
  & .title:after {
    transform: rotate(45deg);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 0;
  &,&:after{
    transition: all 0.2s;    
  }
  &:after {
    content: '+';
    font-weight: bold;
    font-size: rem(20);
    margin-left: rem(15);
  }
}
