@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer;
  padding: rem(30) 0;
}

.subNav {
  composes: globalContainer withShadow withPaddings white;
}

.marquee{
  /* background: linear-gradient(to bottom right, color(#70FBD2 shade(30%)), #70FBD2);   */
  background: linear-gradient(to bottom right, color(#82C745 shade(40%)), color(#82C745 shade(5%)));  
}
