@import "globals.css";
.switch {
  position: relative;
  &>div {
    transition: all 0.1s;
    position: absolute;
    width: 100%;
  }
}

.homepage{
  background: #f3f3f3;
  background: linear-gradient(to bottom, white 100vh, gray(90%));
}
