.header{
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  padding: rem(25) rem(30);
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: rem(70);

    &:first-child{
      margin-left: 0;
    }
  }
}

.link{
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7;
  font-family: 'Whitney';
  font-size: rem(18);
  font-weight: 500;
  transition: opacity 0.2s;

  &:hover{
    opacity: 1;
  }
}

.navDark{
  & .link{
    color: black;
  }
}

.logo{
  opacity: 0.7;
  &.active,
  &:hover{
    opacity: 1;
  }
}

.linkActive{
  font-weight: 500;
  padding-bottom: rem(3);
  border-bottom: rem(2) solid currentColor;
  opacity: 1;
}

.contact{
  cursor: pointer;
}
