@import "../../styles/variables.css";

.headroom{
  position: absolute;
  width: 100%;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(25) rem(30);
  box-sizing: border-box;
  transition: all 0.3s;
  &.navStatic{
    background-color: transparent;
  }
  &.navDefault{
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    /*background: linear-gradient(to bottom right, color(var(--blue) shade(50%)), var(--blue));*/
  }
}

.dark{
  &.navDefault{
    background-color: rgba(255,255,255,0.8);
  }
  & .link{
    color: black;
  }
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: rem(70);

    &:first-child{
      margin-left: 0;
    }
  }
}

.link{
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7;
  font-family: 'Whitney';
  font-size: rem(18);
  font-weight: bold;
  transition: opacity 0.2s;
  -webkit-font-smoothing: antialiased;

  &:hover{
    opacity: 1;
  }
}

.logo{
  opacity: 0.7;
  &.active,
  &:hover{
    opacity: 1;
  }
}

.linkActive{
  padding-bottom: rem(3);
  border-bottom: rem(2) solid currentColor;
  opacity: 1;
}

.contact{
  cursor: pointer;
}
