@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer withPaddings white;
}

.carousel{
  min-height: rem(400);
}

.marquee{
  background: linear-gradient(to bottom right, color(var(--blue) shade(50%)), var(--blue));
}
