@import "globals.css";
.wrapper {
  composes: globalWrapper subpage;
}

.container {
  composes: globalContainer withShadow withPaddings white;
}

.carousel{
  min-height: rem(400);
}

.marquee{
  background: linear-gradient(to bottom right, color(var(--blue) shade(20%)), #11B5FF);
}
