@import 'variables';

.wrapper{
  position: relative;
  height: 100vh;
  width: 100%;

  & .background{
    position: relative;
    z-index: 1;
    & .backgroundContent{
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      text-align: center;
      color: white;
      width: 100vw;
      height: 100vh;          
    }
  }
}

.wrap{
  position: relative;
  height: 100vh;
  width: 100%;
}

.videoPlayer{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
}

.hero{
  position: absolute;
  z-index: 1;
  bottom: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .header{
    font-size: rem(60);
    background: linear-gradient(130deg, #6446C2, #3E88D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .subheader{
    margin-top: rem(25);
    font-size: rem(22);
    line-height: rem(28);
    max-width: rem(600);
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }
}
