@import "../../styles/variables.css";

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(50);
  padding-left: rem(30);
  padding-right: rem(30);
  background-color: gray(95%);
  text-decoration: none;
}

.button.hollow:not([disabled]) {
  border: 1px solid currentColor;
  background-color: transparent;
  color: gray(60%);
  &:hover{
    background-color: color(gray(60%) alpha(-80%));
  }
}

.button.primary:not([disabled]) {
  color: white;
  background-color: var(--blue);
  &:hover{
    background-color: color(var(--blue) blackness(50%));
  }
}

.button.confirm:not([disabled]) {
  @apply --success-theme;
}

.button.white:not([disabled]) {
  color: white;
}


/* Button: Tiny */
.button.tiny {
  border-radius: rem(10);
  padding: rem(5) rem(5);
  height: auto;
  font-size: rem(14);
  line-height: rem(14);
  text-transform: capitalize;
}


/* Button: hollow blue */
.button.blue.hollow:not([disabled]) {
  color: var(--curious-blue);
  border-color: var(--curious-blue);
}
