.item{
  cursor: pointer;
  padding: rem(14) rem(10);
  border-bottom: 1px solid gray(70%, 50%);
  &:last-child{
    border-bottom: none;
  }
}

.title{
  position: relative;
  user-select: none;
  margin-bottom: 0;
  transition: all 0.2s;
  &:after{
    content: '+';
    font-weight: bold;
    position: absolute;
    right: 0;
    transition: all 0.2s;
    font-size: rem(20);
  }
}

.active{
  background-color: gray(95%);
  & .title{
    margin-bottom: rem(8);
  }
  & .title:after{
    transform: rotate(45deg);
  }
}
