@import 'variables';

:root {
  --footer-triangle: {
    content: '';
    position: absolute;
    height: inherit;
    top: rem(1);
    transform: translateY(-100%);
    border-bottom-width: rem(120);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.wrapper {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  
  & .topBorder,
  & .bottomBorder {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray(98%);
    &:before,
    &:after {
      @apply --footer-triangle;
      border-bottom-color: gray(98%);
    }
    &:before {
      left: 0;
      border-left-width: 0;
      border-right-width: 60vw;
    }
    &:after {
      right: 0;
      border-left-width: 60vw;
      border-right-width: rem(0);
    }
  }
  & .topBorder {
    bottom: rem(50);
    height: 4vh;
    background: gray(98%);
    &:before,
    &:after {
      border-bottom-color: gray(90%);
    }
    @media (--xlarge-and-up) {
      height: 6vh;
      bottom: rem(85);
    }
  }
  & .bottomBorder {
    height: 8vh;
    bottom: 0;
    background: gray(98%);
    @media (--xlarge-and-up) {
      height: 12vh;
    }
  }
}
