@import "../../../../../../styles/app.css";
.container {
  margin-bottom: rem(30);
}

.row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(8);
}

.col {
  width: rem(160);
  text-align: right;
}
