@import "globals.css";
.container {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.animatedRoutes {
  position: relative;
  width: 100%;
  overflow: hidden;
  @media print {
    height: auto !important;
  }
}

.routesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*&,
  & > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & div:first-child{
    width: 100%;
  }*/
  @media print {
    position: static !important;
  }
}

.homepage{
  background: #f3f3f3;
  background: linear-gradient(to bottom, white rem(1000), gray(60%));
}

.layout{
  transition: all 0.2s;
  &.blur{
    filter: blur(4px);
  }  
}
