@import "globals.css";
.container {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.animatedRoutes {
  position: relative;
  width: 100%;
  overflow: hidden;
  @media print {
    height: auto !important;
  }
}

.animatedRoutesInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f3f3f3;
  background: linear-gradient(to bottom, gray(98%), gray(50%));
  /*&,
  & > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & div:first-child{
    width: 100%;
  }*/
  @media print {
    position: static !important;
  }
}
