.container{
  position: fixed;
  z-index: 9;
  bottom: rem(-20);
  right: rem(10);
  opacity: 0;
  transition: all 0.2s;
  &.showButton{
    opacity: 1;
    bottom: rem(10);
  }
}

.modal{
  height: rem(600);
  width: rem(1000);

  & section{
    padding: 0;
  }
}

.ctaButton{
  color: black;
  font-size: rem(14);
  padding-left: rem(12);
  padding-right: rem(12);
  height: rem(35);
  transition: all 0.2s;
  background-color: color(white alpha(20%));
  &:hover{
    background-color: color(white alpha(100%));
  }

  @media print {
    display: none !important;
  }
}
