.container{
  position: fixed;
  z-index: 9;
  bottom: rem(-20);
  right: rem(10);
  opacity: 0;
  transition: all 0.2s;
  &.show{
    opacity: 1;
    bottom: rem(10);
  }
}

.modal{
  height: 600px;
  width: 1000px;

  & section{
    padding: 0;
  }
}
