@import "../../styles/app.css";

.container{
  composes: globalContainer withPaddings;
  background-color: gray(91%);
}

.accordions{
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .accordion{
    width: 40%;
  }
}
