@import "../../styles/app.css";

.container{
  composes: globalContainer withPaddings;
  background-color: gray(91%);
}

.accordions{
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .accordion{
    width: calc(50% - 20px);

    & .item{
      border-top: rem(1) solid black;
    }
  }
}
