@import "globals.css";
.wrapper {
  composes: globalWrapper;
}

.quote {
  composes: globalContainer;
  margin-bottom: rem(30);
}

.mobile{
  @media (--medium-and-up) {
    display: none;
  }
}

.desktop{
  display: none;
  @media (--medium-and-up) {
    display: flex;
    flex-direction: column;
  }
}
