@import 'variables';
.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  color: white;
}

.hero {
  transition: all 0.3s;
}

.isPlayingVideo {
  & .hero {
    transform: translateY(rem(50));
    opacity: 0;
  }
}

.landingContent{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .header {
    font-size: rem(50);
    background: linear-gradient(130deg, #6446C2, #3E88D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (--large-and-up) {
      font-size: rem(60);
    }
    @media (--xlarge-and-up) {
      font-size: rem(80);
    }
  }
  & .subheader {
    color: gray(40%);
    margin-top: rem(18);
    font-size: rem(22);
    font-family: var(--secondaryFont);
    line-height: rem(30);
    font-weight: 300;
    @media (--xlarge-and-up) {
      margin-top: rem(30);
      font-size: rem(30);
    }
  }
}


/* Signature */

@keyframes signatureAnimation {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

.signature {
  position: absolute;
  pointer-events: none;
  left: 50%;
  margin-left: rem(-350);
  bottom: 5%;
  width: rem(700);
  height: rem(700);
  opacity: 0.3;
  animation: signatureAnimation 12s ease none 1;
  & g path {
    fill: gray(5%);
  }
}
