/* Whitney book */
@font-face {
  font-family: 'WhitneySSm';
  src: url('whitney_semibold-webfont.woff') format('woff'),
       url('whitney_semibold-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Whitney bold */
@font-face {
  font-family: 'WhitneySSm';
  src: url('whitney_black-webfont.woff') format('woff'),
       url('whitney_black-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Scandia Web Regular */
@font-face {
	font-family: 'ScandiaWeb';
  src:	url('ScandiaWebRegular.woff2') format('woff2'),
        url('ScandiaWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Scandia Web Regular Italic */
@font-face {
	font-family: 'ScandiaWeb';
	src: url('ScandiaWebRegularItalic.woff2') format('woff2'),
       url('ScandiaWebRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Scandia Web Medium */
@font-face {
	font-family: 'ScandiaWeb';
  src:	url('ScandiaWebMedium.woff2') format('woff2'),
        url('ScandiaWebMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
