.container{
  display: flex;
  justify-content: center;
}

.header{
  font-size: rem(20);
  margin-bottom: rem(30);
}

.item{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: rem(50);
  &:last-child{
    margin-right: 0;
  }

  & .flag{
    height: rem(34);
    align-self: center;
    margin-bottom: rem(10);
  }

  & .name{
    margin-bottom: rem(10);
  }

  & .address{
  }
}
