@import "globals.css";
.container {
  composes: globalContainer withMarginBottom;
  margin-top: rem(20);
}

.header {
  composes: globalHeader;
  color: white;
}

.title {
  composes: globalTitle;
}

.box {
  composes: globalBox;
}  

.boxLabel{
  composes: globalBoxLabel;  
}  
