@import "globals.css";
.wrapper {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(25) rem(30);
  box-sizing: border-box;
  transition: all 0.3s;
  &.navStatic {
    background-color: transparent;
    box-shadow: none;
  }
  &.navDefault {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 rem(2) rem(20) 0;
    backdrop-filter: blur(8px);
    /*background: linear-gradient(to bottom right, color(var(--blue) shade(50%)), var(--blue));*/
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  & li {
    display: none;
    @media (--medium-and-up) {
      display: inline-block;
      text-transform: uppercase;
      margin-left: rem(45);
      &:first-child {
        margin-left: 0;
      }
    }
    @media (--large-and-up) {
      margin-left: rem(70);
    }
  }
}

.dark {
  &.navDefault {
    background-color: rgba(255, 255, 255, 0.8);
  }
  & .link {
    color: black;
    &:before {
      background: linear-gradient(90deg, color(black alpha(0%)), color(black alpha(100%)), color(black alpha(0%)));
    }
  }
  & .logo g {
    fill: black;
  }
}

@media print {
  .header {
    display: none !important;
    page-break-after: avoid;
  }
}
