@import "globals.css";
.container {
  composes: globalContainer withMarginBottom;
  padding-top: rem(40);
}

.header {
  composes: globalHeader;
  color: #82C745;
}

.cta {
  color: #82C745 !important;
}

.title {
  composes: globalTitle;
}

.boxWrapper{
  composes: globalBoxWrapper;
}

.boxes{
  composes: globalBoxes;
}

.box {
  composes: globalBox;
}  

.boxLabel{
  composes: globalBoxLabel;  
}  

.icon svg path{
  fill: gray(40%);
}
