@import "../../../../../../styles/app.css";

.container{
  position: relative;
  padding: 0 rem(80);
  margin-bottom: rem(40);
  border-bottom: rem(1) solid gray(70%);

  & .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  & .col{
    width: rem(200);
    margin-bottom: rem(50);
    margin-right: rem(80);
    & label{
      display: block;
    }
    &:last-child{
      margin-right: 0;
    }
  }

  & .paid{
    color: green;
    position: absolute;
    top: rem(50);
    right: rem(50);
    transform: rotate(25deg);
    font-size: rem(45);
    text-transform: uppercase;
    border: 2px dashed green;
    padding: rem(25);
    border-radius: rem(5);
  }
}


.address{
  display: flex;
  flex-wrap: wrap;
  & div{
    &:after{
      content: ',';
      margin-right: rem(5);
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

.email{
  margin-top: rem(15);
}
