@import "../../../../styles/app.css";

.container{
  composes: globalContainer withMarginBottom;
  margin-top: rem(40);
}

.header{
  composes: globalHeader;
  color: var(--purple);
}

.title{
  composes: globalTitle;
}

.box{
  composes: globalBox;
}
